.moreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: auto;
    height: 56px;
    background: #db4444;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 60px 0;
    padding: 16px 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
    grid-row: 4/5;
}