.logIn {
    display: flex;
    width: 1170px;
    margin: 60px 0 140px;
    justify-content: space-between;
}

.logInFormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 370px;
}

.logInImage {
    width: 700px;
}

.logInFormTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    margin: 0;
    align-self: flex-start;
}

.logInFormDescription {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 24px 0 0;
    align-self: flex-start;
}

.logInFormInput {
    padding: 8px 0;
    margin: 26px 0 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.4);
    width: 370px;
    height: 32px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

.logInButtonsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
}

.logInFormButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 143px;
    height: 56px;
    background: #DB4444;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    cursor: pointer;
}

.logInForgotPassword {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    width: auto;
    height: auto;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
}