.cartPage {
    width: 1170px;
    margin: 80px auto 0;
}

.cartTitles {
    display: grid;
    grid-template-columns: 56px 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    /* border: 1px solid #E0E0E0; */
    box-sizing: border-box;
    padding:  24px 40px;
}

.cartTitles p:first-child {
    grid-column: 1/3;
    justify-self: start;
}

.cartTitles p:last-child {
    justify-self: end;
}

.cartTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    text-align: center;
}

.cartItem {
    display: grid;
    grid-template-columns: 56px 1fr 1fr 1fr 1fr;
    width: 1170px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    /* border: 1px solid #E0E0E0; */
    box-sizing: border-box;
    padding:  24px 40px;
    margin: 40px 0 0;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.cartItemImageContainer {
    position: relative;
    width: 50px;
    height: 43px;
}

.cartItemImage {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.cartItemRemoveIcon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.cartItemImageContainer:hover .cartItemRemoveIcon {
    display: block;
}

.cartItemTitle,
.cartItemPrice,
.cartItemSubtotal,
.cartItemQuantityInput {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.cartItemTitle {
    justify-self: start;
    margin: 0 0 0 22px;
}

.cartItemSubtotal {
    justify-self: end;
}

.cartItemQuantity input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* justify-items: center; */
    width: 72px;
    height: 44px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    outline: none;
    padding: 0 10px;
}

/* Кнопки */

.cartButtonWrapper {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0;
}

.cartButtonWrapper button,
.cartLinkToShop {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #ffffff;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Детали корзины */

.cartOrderDetails {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 0;
}

.cartCouponWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(56px, auto);
    position: relative;
    align-self: start;
    width: 527px;
}

.cartCouponText {
    margin: 12px 0 0 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.5);
}

.cartCouponResult {
    justify-self: center;
    margin: 12px 0 0 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.5);
}

.cartCouponInput {
    box-sizing: border-box;
    width: 300px;
    height: 56px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.5);
    outline: none;
    padding: 16px 24px;
}

.cartCouponButton {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 48px;
    width: 211px;
    height: 56px;
    background: #df4444;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
    border: none;
    margin: 0 0 0 16px;
    cursor: pointer;
}

.cartOrderDetailsItem {
    padding: 32px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 470px;
}

.cartTotalDetailsTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 8px;
}

.cartOrderDetailsItem span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    box-sizing: border-box;
}
.cartOrderDetailsItem span:last-of-type {
    border-bottom: none;
}

.cartTotalDetailsItemTitle,
.cartTotalDetailsItemValue {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.5);
    margin: 0;
}

.cartTotalDetailsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 16px 48px;
    box-sizing: border-box;
    background: #db4444;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
    border: none;
    cursor: pointer;
}




