.featured {
    margin: 140px 0 0;
    width: 1170px;
}

.featuredContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 285px;
    gap: 30px;
}

.featuredItem {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 32px;
    position: relative;
    background: #0d0d0d;
    width: 100%;
}

.featuredItem:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url('/assets/images/products/playstation.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 511px 511px;
}

.featuredItem:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/2;
    background-image: url('/assets/images/products/woman-hat.png');
    background-position: right;
    background-repeat: no-repeat;
}

.featuredItem:nth-child(3) {
    overflow: hidden;
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 24px;
    background-image: url('/assets/images/products/speakers.png'),
                      radial-gradient(circle, rgba(217, 217, 217, 0.30) 0 15%,
                                              rgba(217, 217, 217, 0.1) 65%);
    background-position: center;
    background-repeat: no-repeat;
}

.featuredItem:nth-child(4) {
    overflow: hidden;
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 24px;
    background-image: url('/assets/images/products/perfume.png'),
    radial-gradient(circle, rgba(217, 217, 217, 0.30) 0 15%,
                            rgba(217, 217, 217, 0.1) 65%);
background-position: center;
background-repeat: no-repeat;
}

