.exploreProducts {
    width: 1170px;
    margin: 70px 0 0;
}

.exploreProductsTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    margin: 0 0 35px;
}

.exploreProductsGoods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}