.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 80px 0;
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
    gap: 45px;
}

.footerList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerItem {
    position: relative;
}

.footerItemHeaderLogo {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    margin: 0 0 24px;
}

.footerItemHeader {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    margin: 0 0 24px;
}


.footerItemText {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin: 0 0 16px;
    text-decoration: none;
}

.footerItemTextSubscriber {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FAFAFA;
    margin: 4px 0 24px;
}

.footerItemTextThin {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FAFAFA;
    margin: 0 0 8px;
}

/* Footer Subscribe Form */

.footerItemInput {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 56px 12px 16px;
    width: 217px;
    height: 48px;
    border: 1.5px solid #fafafa;
    border-radius: 4px;
    background-color: #000000;
}

.footerItemInputButton {
    color: #fafafa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footerItemInputButton:hover .footerItemInputIcon {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}

/* Footer App Icons and links */

.footerList:nth-child(5) .footerItem:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.footerItemImage:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}

.footerItemAppLink:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.footerItemAppLink:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* Footer Social Icons and links */

.footerList:nth-child(5) .footerItem:nth-child(4) {
    display: flex;
    gap: 27px;
    margin: 24px 0 0;
}

.footerSocialLink:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
    opacity: 0.8;
}

