.mainLayout {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    flex: 1
}

.header {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

.topOffer {
    width: 100%;
    height: 48px;
    background: #000000;
}

.topOfferContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
}

.topOfferText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fafafa;
}

.topOfferText a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;/* identical to box height, or 171% */
    text-align: center;
    text-decoration-line: underline;
    color: #fafafa;
    margin: 0 0 0 8px;
}

.topOfferForm {
    position: relative;
    margin-left: auto;
}

.topOfferSelectLabel {
    position: absolute;
    right: 0;
}

.topOfferSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
    width: 78px;
    height: 24px;
    background: #000000;
    border: none;
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fafafa;
    -webkit-appearance: none; /* Для Chrome, Safari, Opera */
    -moz-appearance: none;    /* Для Firefox */
    appearance: none; 
    cursor: pointer;

}

.topOfferForm label {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.headerContainer {
    display: flex;
    margin: 40px auto 16px;
    width: 1170px;
    height: 38px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.navLink {
    display: block;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin-right: 48px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.navLink:hover,
.navLink:focus,
.navLink:focus-visible,
.navLink:active {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}


.logo {
    display: flex;
    align-items: center;
}

.logoText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.cart {
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 0px;
    width: 347px;
    height: 100%;
}

.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    width: 243px;
    height: 100%;
    border-radius: 4px;
    position: relative;
}

.searchBar input {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    background: #F5F5F5;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
}

.searchBar input:active,
.searchBar input:focus,
.searchBar input:focus-visible {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
}

.searchBtn {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-40%);
}

.searchBtn svg {
    transition: transform .2s;
}

.searchBtn:hover svg {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 2px 10px rgba(0,0,0,.75));
}

.favoriteBtn {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    margin: 4px 18px 0 0;
    color: #000000;
}

.favoriteBtn svg {
    transition: transform .2s;
}

.favoriteBtnCount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25%;
    right: -26%;
    background: #db4444;
    color: #ffffff;
    /* padding: 2px 4px; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FAFAFA;
}

.favoriteBtn:hover svg {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 2px 10px rgba(0,0,0,.75));
}

.cartBtn {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2px 0 0 0;
    color: #000000;
}

.cartBtn:hover svg {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 2px 10px rgba(0,0,0,.75));
}

.cartBtnCount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -5%;
    background: #db4444;
    color: #ffffff;
    /* padding: 2px 4px; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FAFAFA;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #000000;
    margin: 140px 0 0;
}



