@font-face {
    font-family: 'Inter';
    src: url('InterVariable.woff2') format('woff2');
    font-weight: 100 900;   /* диапазон весов */
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: 'Inter';
  src: url('InterVariable-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-VariableFont.woff2') format('woff2');
    font-weight: 100 900;   /* диапазон весов */
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Italic-VariableFont.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}



